.dark-mode {
    --base-color: #121212;
    --base-variant: #1f1f1f;
    --text-color: #e0e0e0;
    --secondary-text: #efefef;
    --primary-color: #333;
    --accent-color: #a9b8e3;
    --border-color: #484a53;
    --hover-color: #1b1e2a;
    --sidebar-color: #636466;
    --highlight-color: #FFC107;
    --button-hover-color: #0056b3;
    --shadow-color: rgba(188, 188, 188, 0.101);
    --divider-color: #bbb;
    --requirement-color: #6f4d0a96;
}

.dark-mode .umbc-logo {
    filter: invert(1);
}

.dark-mode button.additionSession {
    filter: invert(1);
}
