:root {
    --base-color: white;
    --base-variant: #e8e9ed;
    --text-color: #111528;
    --secondary-text: #1f222f;
    --bar-color: #d8d8d8;
    --med-color: #c0c0c0a9;
    --primary-color: #000;
    --accent-color: #093565;
    --border-color: #e4e4e4;
    --hover-color: #ebebeb49;
    --button-color: #636466;
    --sidebar-color: #373737;
    --highlight-color: #FFC107;
    --button-hover-color: #0056b3;
    --row-color: #d96c0d;
    --shadow-color: rgba(0, 0, 0, 0.25);
    --dark-shadow-color: rgba(0, 0, 0, 0.6);
    --divider-color: #7676769d;
    --toggle-bg-color: #333;
    --requirement-color: #fff2b8;
    --toggle-slider-color: white;
    --toggle-active-bg-color: #4964b6;
    --bg-image: url('images/background_1.jpg');
}

body {
    background-color: var(--base-variant);
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    background-attachment: fixed;
}

h3 {
    color: var(--text-color);
}

h6 {
    color: var(--text-color);
    margin-bottom: 0px;
}

h6#google-logout-button:hover {
    color: var(--button-hover-color)
}

p {
    color: var(--text-color);
}

h3.welcome-text {
    margin-left: 4%;
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 2px var(--shadow-color);
    font-family: 'Times New Roman', serif;
}

#page-container {
    background-color: var(--base-color);
    border-top: 0;
    box-shadow: 0 0 8px var(--shadow-color);
    margin: 0 auto;
    max-width: 1060px;
    min-width: 500px;
    width: 100%;
    position: relative;
    min-height: 1200px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 20px;
    padding-bottom: 50px;
}

#site-header {
    background-color: var(--primary-color);
    color: whitesmoke;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer {
    background-color: var(--base-color) !important;
    min-width: 500px;
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    flex-wrap: wrap;
}

.footer .umbc-logo {
    filter: grayscale(100%) brightness(200%) !important;
    width: 120px;
}

.footer .container {
    width: fit-content;
    margin: 0px;
    padding: 0px;
}

.footer .location {
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    margin-top: 7px;
}

#site-header span.label {
    padding-left: 30px;
    padding-bottom: 10px;
    white-space: nowrap;
}

.umbc-logo {
    max-width: 30%;
    margin-left: 20px;
}

.year-header {
    position: relative;
    background-color: var(--primary-color);
    color: whitesmoke;
    font-weight: bold;
    padding: 10px;
    border-top: 4px solid var(--highlight-color);
    font-size: 20px;
}

.semester-header {
    background-color: var(--base-variant);
    font-weight: bold;
    font-size: 15px;
    color: var(--text-color);
}

.semester-header div {
    flex: 1;
    padding: 10px;
    text-align: center;
    color: var(--text-color);
}

.tab-pane {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 30px;
    min-width: 400px;
}

.dropzone {
    background-color: var(--base-color);
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.dropzone:hover {
    background-color: var(--hover-color);
}

.dropzone.invalid-credits:hover {
    background-color: rgba(255, 49, 49, 0.063) !important;
}

.class-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--base-color);
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 8px;
    border: 1px solid #ddd;
    cursor: grab;
    box-shadow: 2px 2px 5px var(--shadow-color);
    color: var(--text-color);
    font-weight: 500;
    transition: transform 0.2s, box-shadow 0.2s;
}

.class-item:active:not(.no-active-effect) {
    cursor: grabbing;
    transform: scale(1.05);
    box-shadow: 3px 3px 8px var(--shadow-color);
}

.class-item.highlight {
    border: 5px solid #f00;
}

.draggable * {
    user-select: none;
    -webkit-user-drag: none;
}

.class-item.require-item {
    background-color: var(--requirement-color);
    border-color: var(--highlight-color);
    flex-wrap: wrap;
    column-gap: 5px;
    justify-content: left;
}

.require-item .course-name {
    width: 100%;
    overflow-wrap: break-word;
}

.require-item .require-select {
    flex-grow: 1;
    font-size: 13px;
    padding: 2px;
    max-width: 300px;
    min-width: 150px;
    margin-left: -5px;
    border-radius: 2px;
}

button.additionSession {
    background-image: url('images/plus.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 40px;
    width: 40px;
    border: none;
    display: block;
    margin-top: -20px;
    transition: background-image 0.3s ease-in-out;
    z-index: 2;
}

button.additionSession:hover {
    cursor: pointer;
    transform: scale(1.05);
    opacity: 0.8;
}

.major-minor-container {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    padding: 20px 10px 0px 10px;
    justify-content: center;
    align-items: baseline;
}

.major-minor-container .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex: 1 1 400px;
}

.new-boxes {
    margin-top: -20px;
    opacity: 0;
    animation: fadeIn 0.75s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.class-item span {
    font-size: 13px;
}

.class-item .credits {
    font-weight: 400;
    margin-left: 10px;
}

.require-item.class-item .credits {
    margin-left: auto;
}


@media (max-width: 992px) {
    .require-item.class-item .credits {
        margin-left: 0;
    }
}

.divider {
    border: none;
    border-left: 2px solid var(--divider-color);
    margin: -1px;
}

/* Top Bar*/
#top-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.toggle-container {
    display: flex;
    margin-right: 20px;
    margin-top: 10px;
    column-gap: 20px;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    align-self: flex-end;
}

p#user-email {
    color: var(--bar-color);
    font-size: 13px;
    font-weight: 600;
    text-align: right;
    margin-bottom: 0px;
    margin-right: 30px;
    padding-left: 30px;
}

/* Toggle Switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--toggle-active-bg-color);
    transition: 0.4s;
    border-radius: 34px;
}

.slider::before {
    position: absolute;
    content: '';
    width: 23px;
    height: 23px;
    left: 6px;
    bottom: 6px;
    transition: 0.4s;
    background-image: url('images/icons/sun.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

input:checked+.slider {
    background-color: var(--toggle-bg-color);
}

input:checked+.slider::before {
    transform: translateX(23px);
    background-image: url('images/icons/moon.svg');
}

/* Full/Part Slider */
.time-toggle.switch {
    height: 28px;
    width: 50px;
}

.time-toggle .slider {
    background-color: var(--med-color);
}

.time-toggle .slider:before {
    top: 2px;
    left: 15px;
    width: 22px;
    height: 22px;
    transform: rotate(90deg);
    background-image: url('images/icons/full-battery.svg');
}

.time-toggle input:checked+.slider {
    background-color: var(--med-color);
}

.time-toggle input:checked+.slider::before {
    background-image: url('images/icons/half-battery.svg');
    transform: rotate(270deg) translateY(-2px);
}

/* Alert Slider */
.alert-toggle.switch {
    width: 40px;
}

.alert-toggle .slider {
    background-color: var(--med-color);
}

.alert-toggle .slider:before {
    left: 8px;
    background-image: url('images/icons/bell.svg');
}

.alert-toggle input:checked+.slider {
    background-color: var(--med-color);
}

.alert-toggle input:checked+.slider::before {
    background-image: url('images/icons/no-bell.svg');
    transform: none;
}

/* Tabs */

.nav-tabs {
    border-bottom: 3px solid var(--accent-color);
    margin: 0px 4%;
}

.nav-link {
    border-width: 2px !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    color: var(--accent-color) !important;
}

.nav-link:hover {
    color: var(--button-hover-color) !important;
}

.nav-link.active {
    background-color: var(--secondary-text) !important;
    border-color: var(--text-color) !important;
    color: var(--base-color) !important;
}

/* Sidebar */
.sidebar {
    top: 20%;
    left: 0;
    position: fixed;
    width: 250px;
    background-color: var(--sidebar-color);
    box-shadow: 5px 8px 6px var(--dark-shadow-color);
    padding-top: 20px;
    transition: width 0.3s ease;
    z-index: 10;
    border-radius: 10px;
}

.sidebar.hide {
    width: 50px;
    height: 70px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.sidebar .toggle-btn {
    position: absolute;
    top: 0px;
    right: 5px;
    background-size: 30px 30px;
    background-position: 15px 50%;
    filter: invert(1);
    background-image: url('images/shopping-cart.svg');
    background-repeat: no-repeat;
    background-color: transparent;
    width: 50px;
    height: 70px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.sidebar.hide *:not(.toggle-btn) {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.sidebar .dropzone {
    border-radius: 10px;
    width: 223px;
    min-height: 130px;
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    margin-top: 40px;
    margin-left: 13px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.sidebar .class-item {
    padding: 5px;
}

.sidebar .class-item span {
    font-size: 12px;
}

.sidebar .dropzone::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

.sidebar .dropzone::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}

.sidebar .dropzone::-webkit-scrollbar-thumb {
    background: var(--secondary-text);
    border-radius: 10px;
}

.sidebar .dropzone::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

.sidebar .empty-btn {
    position: absolute;
    top: 20px;
    right: 55px;
    filter: invert(1);
    background-image: url('images/recycle.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}

.sidebar .empty-btn:hover {
    filter: invert(0.8);
}

.sidebar .toggle-btn:hover {
    filter: invert(0.8);
}

.sidebar .dropzone::after {
    content: "Drop class items here to move between tabs";
    display: block;
    text-align: center;
    color: #999;
    font-size: 17px;
    padding: 1rem;
    pointer-events: none;
}

.sidebar .dropzone:not(:empty)::after {
    content: "";
    display: none;
}

.sidebar .title {
    position: absolute;
    color: white;
    padding-left: 15px;
    font-size: 28px;
    font-weight: 700;
    top: 12px;
}

.sidebar::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/floral.jpg') no-repeat center center;
    filter: brightness(0.5);
    opacity: 0.4; 
    z-index: -1; 
    border-radius: 10px; 
}
/* Search Field */

input#class-query {
    width: 400px;
    border-radius: 4px;
    border: 1px solid #aaa;
    color: #333;
    height: 35px;
    padding-left: 8px;
    padding-bottom: 6px;
}

input#class-query::placeholder {
    color: #888;
}

input#class-query:focus {
    outline: none;
}

.search-form .select2-selection.select2-selection--single {
    height: 35px;
}

div .search-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    margin-bottom: 15px;
}

#search .dropzone {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
}

.search-container {
    background-color: var(--primary-color);
    padding: 10px;
    border-top: 4px solid var(--highlight-color);
    margin-bottom: 15px;
}

.search-container h4 {
    color: whitesmoke;
    display: block;
    font-weight: 700;
}

button.primary-button {
    width: 200px;
    font-weight: bold;
    background-color: var(--button-color);
    border: none;
    transition: background-color 0.3s ease;
}

button.primary-button:hover {
    background-color: #555;
    cursor: pointer;
}

button.secondary-button {
    color: var(--secondary-text);
    font-weight: bold;
    width: 200px;
    border: 2px solid var(--secondary-text);
    transition: background-color 0.3s ease;
}

button.secondary-button:hover {
    border: 2px solid var(--text-color);
    background-color: var(--bar-color);
    cursor: pointer;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: -10px;
    gap: 10px;
}

.page-button {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    color: #333;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.page-button.active {
    background-color: #4CAF50;
    color: white;
    border-color: #4CAF50;
}

.page-button:hover {
    background-color: #dddddd;
}

.page-button.active:hover {
    background-color: #3a783c;
}

.spinner {
    position: fixed;
    display: none;
    top: 50%;
    left: 46%;
    width: 125px;
    height: 120px;
    animation: spin 0.7s linear infinite;
    transform-style: preserve-3d;
}

@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

/* Add line to top of border*/

.add-line {
    position: relative;
    border-top: 1px solid #dee2e6;
}

.remove-year-btn {
    position: absolute;
    top: 30%;
    right: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.remove-year-btn::before,
.remove-year-btn::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: transform 0.3s ease, width 0.3s ease;
}

.remove-year-btn::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.remove-year-btn::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.remove-year-btn:hover::before,
.remove-year-btn:hover::after {
    width: 120%;
}

.info-popup {
    display: none;
    position: absolute;
    background: #f9f9f9;
    border: 1px solid #ccc;
    padding: 8px;
    z-index: 20;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    max-width: 260px;
}

.info-popup {
    display: none;
    position: absolute;
    background: #f9f9f9;
    border: 1px solid #ccc;
    padding: 8px;
    z-index: 20;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    max-width: 260px;
}

span.information {
    font-size: 16px;
    color: var(--accent-color)
}

.require-item .information {
    margin-right: 5px;
}

span.information:hover {
    font-size: 20px;
    color: var(--button-hover-color);
    cursor: pointer;
}

.warning-box .year-header {
    border-top: none;
    background-image:
        repeating-linear-gradient(135deg,
            black 0px,
            black 8px,
            var(--highlight-color) 8px,
            var(--highlight-color) 16px);
    background-repeat: no-repeat;
    background-size: 100% 4px;
    background-position: top left;
}

.warning-list {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.warning-item {
    width: 50%;
    background-color: rgba(255, 143, 143, 0.36);
    padding: 6px;
    border: 1px solid rgba(177, 48, 48, 0.5);
    box-shadow: 2px 2px 5px var(--shadow-color);
    color: var(--text-color);
    font-weight: 500;
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    justify-content: center;
}

.warnings-text span {
    color: #ffffff;
    background-color: rgb(255 0 0);
    padding: 3px 8px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    display: inline-block;
    text-align: center;
    font-weight: 700;
}

.warnings-text {
    color: rgb(255 0 0);
    font-weight: 600;
}

.message-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    z-index: 1000;
    width: 200px;
}

.message-box {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 300px;
    opacity: 1;
    transition: opacity 0.5s ease-out;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.message-box.fade-out {
    opacity: 0;
}

.message-box.success {
    background-color: #5cb85c98;
}

.message-box.error {
    background-color: #d9544f9b;
}

.close-button {
    position: absolute;
    top: -7px;
    right: 0px;
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.close-button:hover {
    opacity: 0.6;
}

.feedback {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

/* Settings */
.settings-dropdown {
    position: relative;
    display: inline-block;
}

#settings-button {
    font-size: 30px;
    transition: transform 0.5s ease-in-out;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings-dropdown:hover #settings-button {
    transform: rotate(360deg);
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: -20px;
    background-color: var(--base-color);
    min-width: 230px;
    box-shadow: 0 0 8px var(--dark-shadow-color);
    z-index: 1;
    border-radius: 1px;
    padding: 8px 25px 8px 10px;
}

.settings-dropdown:hover .dropdown-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    justify-items: center;
    padding-right: 0px;
    align-items: center;
}

.settings-dropdown:hover .dropdown-content> :nth-child(odd) {
    justify-self: start;
}

.settings-dropdown:hover .dropdown-content> :nth-child(even):hover {
    filter: hue-rotate(2deg) saturate(1.5) brightness(0.8);
}

textarea#post-notes {
    flex-basis: 820px;
    border-radius: 4px;
    border: 1px solid #aaa;
    color: #333;
    min-height: 35px;
    padding-left: 8px;
    padding-bottom: 6px;
}

/* Window Display */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.info-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 101;
    width: 80%;
    max-width: 600px;
}

.info-modal .modal-content {
    margin-top: 20px;
    max-height: 80vh;
    overflow-y: auto;
}

.info-modal h2, .info-modal h3 {
    margin-top: 0;
}

.info-modal ul {
    list-style: none;
    padding: 0;
}

.info-modal ul li {
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.info-modal .close-button {
    position: absolute;
    top: 0px;
    right: 5px;
    background: none;
    border: none;
    color: #000000;
    font-size: 25px;
    cursor: pointer;
}

hr {
    border-color: var(--row-color);
    margin: 0px 0px 10px 0px;
    opacity: 1;
}

#classes .dropzone {
    min-height: 30px;
}

.search-container [type="range"] {
    appearance: none; 
    height: 6px;
    border-radius: 5px;
    background: linear-gradient(
        to right,
        #FFFFFF 0%,
        #FFFFFF 11.11%,
        #FCECC2 11.11%,
        #FCECC2 22.22%,
        #FAD78F 22.22%,
        #FAD78F 33.33%,
        #F9C25C 33.33%,
        #F9C25C 44.44%,
        #F8AE29 44.44%,
        #F8AE29 55.55%,
        #F79A00 55.55%,
        #F79A00 66.66%,
        #E88D00 66.66%,
        #E88D00 77.77%,
        #D97F00 77.77%,
        #D97F00 88.88%,
        #CA7100 88.88%,
        #CA7100 100%
    );
    outline: none;
}

.search-container input[type="range"]::-webkit-slider-thumb {
    appearance: none; 
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #333;
    cursor: pointer;
}

/* Save slots */

#save-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 101;
    width: 80%;
    max-width: 600px;
    max-height: 600px;
    overflow-y: auto;
}

#save-panel .close-button {
    position: absolute;
    top: 0px;
    right: 5px;
    background: none;
    border: none;
    color: #000000;
    font-size: 25px;
    cursor: pointer;
}

#save-panel .save-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    justify-items: center;
}

.save-container > *{
    text-align: center;
}

.save-container .saveslot{
    position: relative;
    height: 105px;
    width: 150px;
    border: 1px solid #6a6a6a82;
    border-radius: 12px;
    padding: 12px;
    margin: 10px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.save-container .saveslot:hover {
    transform: translateY(-3px);
    box-shadow: 8px 10px 2px rgba(0, 0, 0, 0.1);
}

.override-warning {
    display: grid;
    place-items: center;
}

.override-warning > div{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly
}

