body {
    background-color: whitesmoke;
}

#page-container {
    background-color: #fff;
    border-top: 0;
    box-shadow: 0 0 8px #999;
    margin: 0 auto;
    max-width: 960px;
    padding: 1px 0 0;
    position: relative;
    min-height: 1200px;
}

#site-header {
    background-color: #000;
    color: #FFF;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

#site-header span.label {
    padding-left: 30px;
    padding-bottom: 10px;
    white-space: nowrap;
}

.umbc-logo {
    max-width: 300px;
    margin-left: 20px;
}

.year-header {
    background-color: #000;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-top: 4px solid #FFC107;
    font-size: 20px;
}

.semester-header {
    background-color: #D6D6D6;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
}

.semester-item {
    flex: 1;
    text-align: center;
}

#classes {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 60px;
}

.dropzone {
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.dropzone:hover {
    background-color: #ebebeb;
    border-color: #007bff;
}

.class-item {
    background-color: white;
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 8px;
    border: 1px solid #ddd;
    cursor: grab;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    transition: transform 0.2s, box-shadow 0.2s;
}

.class-item:active {
    cursor: grabbing;
    transform: scale(1.05);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

button.additionSession{
    background-image: url('images/plus.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 40px; 
    width: 40px;         
    border: none;  
    display: block;   
    margin-top: -20px;         
}

button.additionSession:hover {
    cursor: pointer;
    transform: scale(1.05);
    opacity: 0.8;
}

